[submodule ".submodules/Makefiles"]
	path = .submodules/Makefiles
	url = https://github.com/Falkor/Makefiles.git
	branch = devel
[submodule "tests/helpers/assertions"]
	path = tests/helpers/assertions
	url = https://github.com/jasonkarns/bats-assert
[submodule "oh-my-zsh/custom/themes/powerlevel9k"]
	path = oh-my-zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
	branch = next
