[submodule ".submodules/gitstats"]
	path = .submodules/gitstats
	url = https://github.com/hoxu/gitstats.git
	branch = master
[submodule ".submodules/Makefiles"]
	path = .submodules/Makefiles
	url = https://github.com/Falkor/Makefiles.git
	branch = devel
